<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gibberish-aes/1.0.0/gibberish-aes.min.js"></script>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div id="inject" class="wrapper">
         
      </div>
      <form id="myspecialform" style="display: none">
            First name:<br>
            <input type="text" name="key">
            <br>
            Last name:<br>
            <input type="text" name="value">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </main>

    {% include footer.html %}

  </body>

  <script>
    var form = document.getElementById('myspecialform');
    form.addEventListener('submit', mySubmitFunction);
    function mySubmitFunction(e) {
      e.preventDefault();
      checkAndVerifyContent(e.target['key'].value, e.target['value'].value);
    }


    function decryptAndReturnContent(key, value) {
      if (encryptedContent.includes('REPLACEMEENCRYPT')) {
        var injectionContent = encryptedContent
          .replace('REPLACEMEENCRYPT("', '')
          .replace(/.$/, '') // Replace last character which is a '
          .replace(/.$/, '') // Replace next last character which is a )
          .replace(/.$/, ''); // Replace next last character which is a "
    
        return injectionContent;
      } else if (key && value) {
        return GibberishAES.dec(encryptedContent, key + value);
      } else {
        return '';
      }
    }

    function checkAndVerifyContent(key, value) {
      var injectionElement = document.getElementById('inject');
      var form = document.getElementById('myspecialform');
      try {
        var content = decryptAndReturnContent(key, value, injectionElement);
        if(!content.length) {
          injectionElement.innerHTML = 'Authentication required';
          form.style.display = 'block';
        } else {
          injectionElement.innerHTML = content.replace(/\\"/g, ''); // Replace all escaped strings
          form.style.display = 'none';
        }
      } catch(e) {
        injectionElement.innerHTML = 'Incorrect';
        form.style.display = 'block';
      }
    } 

    var encryptedContent = 'REPLACEMEENCRYPT({{ content | jsonify }})';
    
    var key = sessionStorage.getItem('decryptkey');
    var value = sessionStorage.getItem('decryptvalue');

    checkAndVerifyContent(key, value);

  </script>

</html>